@page "/portfolio"

<PageTitle>Portofolio</PageTitle>

<h2>Hello and welcome to my portfolio!</h2>

<p>
    Here I will talk about the different kinds of projects that I have
    been involved in, whether through courses, student organizations, hackathon
    submissions or in my free time with personal projects.
</p>