@page "/workexperience"

<PageTitle>Work Experience</PageTitle>

<h2>Here is a full timeline of all my work experience</h2>

<p>
    I've worked a number of jobs ranging from part-time to temporary employment to internships, 
    with not all of them relating to what I'm studying.
</p>