@page "/about"
@rendermode InteractiveServer

<PageTitle>Who Am I</PageTitle>

<h2>Who Am I</h2>
<br>
<section>Family Background</section>
<p>
    First off I am the 2nd of 3 daughters of Marcel and Monseditha Sanchez. My dad is from the Philippines and 
    came here to the US in the mid 1990s with his family and completed high school at Aptos High in Aptos, CA. My
    mom is born and raised in Carson, CA whose parents immigrated here to the US in the 1970s. 

</p>

<style>
    .body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: darkkhaki; 
    }
    .section {
        font-size: 15px;
        font-family: cursive;
    }
</style>

@code {

}