@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to my page</h1>

<p>
    This is a place where I will centralize all my projects where academic 
    or personal as well as give updates on what I've been doing with my 
    extracurriculars outside of programmings.  

    Hope y'all enjoy this little insight into my life beyond what's posted on my social media platforms. 
</p>
