@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to my portfolio</h1>

<p>
    This is a place where I will centralize all my projects where academic 
    or personal as well as give updates on what I've been doing with my 
    extracurriculars outside of programmings.  
</p>
