@page "/"

<PageTitle>Home</PageTitle>

<div class="intro-box">
    <div class="left-side">
        <h2>Hello my name is Maureen Sanchez!</h2>
        <p>
            Welcome to my site where I show off my portofolio and what I have done with my 
            life in terms off academic life and personal development.
        </p>
    </div>
    <div class="headshot"></div>
</div>